source https://www.nuget.org/api/v2/

nuget FSharp.Core
nuget Microsoft.Azure.ServiceBus
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Configuration.Binder
nuget Microsoft.Extensions.Configuration.Json
nuget QRCoder
nuget System.Drawing.Common
nuget Utf8Json